<ion-view view-title="Find Match">
    <ion-content>
        <div>
            <td-cards>
                <td-card ng-repeat="card in cards" on-destroy="cardDestroyed()" on-swipe-left="cardSwipedLeft('true')" on-swipe-right="cardSwipedRight('true')" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
                    <div class="image">
                        <div class="no-text">NOPE</div>
                        <img ng-src="{{card.image}}">
                        <div class="profileInfo">
                            <p class="profileInformation">Name : Bullbull</p>
                            <p class="profileInformation">Age : 24</p>
                            <p class="profileInformation">Sex : Male</p>
                        </div>
                        <div class="yes-text">LIKE</div>
                    </div>
                </td-card>
            </td-cards>
        </div>
        <div class="customContent">
            <button id="nope" class="decideBTN button button-energized">
                <i class="icon ion-close"></i>
            </button> 
            <button id="like" class="decideBTN button button-assertive">
                <i class="icon ion-heart"></i>
            </button>
        </div>
    </ion-content>
</ion-view>
