<ion-view view-title="Find Match">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="customContent">
            
<!-- 
      <td-cards>
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
          <div class="image" ng-controller="CardCtrl">
            <div class="no-text">NOPE</div>
            <img ng-src="{{card.image}}">
            <div class="yes-text">LIKE</div>
          </div>
        </td-card>
      </td-cards>
 -->
            
        </div>
    </ion-content>
</ion-view>
