<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" name="navigation">
        <ion-header-bar class="dark-bg expanded">
            <span class="avatar" style="background: url('img/crown.png'); background-size: cover;"></span>
            <h2>Campus Dating</h2>
        </ion-header-bar>
        <ion-content class="has-expanded-header">
            <ion-list>
                <ion-item menu-close ui-sref="app.find">
                    Find Matches
                </ion-item>
                <ion-item menu-close ui-sref="app.friends">
                    Chats &amp; Matches
                </ion-item>
                <ion-item menu-close ui-sref="app.profile">
                    Profile
                </ion-item>
                <ion-item menu-close ui-sref="app.gallery">
                    Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
