        <ion-tabs class="tabs-dark tabs-icon-top">

          <ion-tab title="Basic Info" icon-on="ion-ios-information-outline" icon-off="ion-ios-information-outline" href="#/tab/basicInfo">
            <ion-nav-view name="basicInfo"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Interests" icon-on="ion-android-star" icon-off="ion-android-star-outline" href="#/tab/interests">
            <ion-nav-view name="interests"></ion-nav-view>
          </ion-tab>

          <ion-tab title="Looking For" icon-on="ion-android-search" icon-off="ion-android-search" href="#/tab/lookingFor">
            <ion-nav-view name="lookingFor"></ion-nav-view>
          </ion-tab>

        </ion-tabs>